<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
        <img src="/images/box.jpg" alt="Minta termék" width="240px" />
        <div class="product_name"><span>Aktív termék</span></div>
    </div>
</div>
<div class="main_frame">
<div class="main_frame_top"><span>Termékek</span></div>
    <div class="main_frame_content">
    <%= flash[:msg] %>
        <div class="main_image_container">
            <% for product in @products %>
                <%= content_tag_for(:div,product) do %>
                    <%= link_to image_tag("products/" + product.get_image, :alt => product.add_name, :title => product.add_name), :action=>"show", :id => product.id %>           
                <% end %>
            <% end %>
            <div class="clear"></div>
            <div class="indicator">
            	
            </div>
        </div>
    </div>
</div>