<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
        
    </div>
</div>
<div class="main_frame">
	<div class="main_frame_top"><span>Felhasználók</span></div>
	<div id="notice" class="clear"><p><%= flash[:notice] %></p></div>
	<div class="main_container">
    <div>
        <ul>
          <% for user in @users %>
            <li>
               <%= link_to h(user.firstname + " " + user.lastname), :action => "show", :id => user.id %> - <span><%= h(user.email) %></span>
            </li>
          <% end %>
        </ul>
    </div>
</div>