<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
        
    </div>
</div>
<div class="main_frame">
	<div class="main_frame_top"><span>HIBA</span></div>
	<div id="notice" class="clear"><p><%= flash[:notice] %></p></div>
	<div class="main_container">      
    <div>
		<p>
			Ellenőrizze a megadott adatok helyességét!<br />
			Amennyiben minden adat helyes volt, akkor az email cím már foglalt!
		/p>
    </div>
</div>