<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
        
    </div>
</div>
<div class="main_frame">
<div class="main_frame_top">
	<span>HIBA</span>  
</div>
<div class="reg_container">
	<%= flash[:notice] %>
      
    <div>

    </div>
</div>